/* ====== основні стилі ====== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}


a{
    text-decoration: none;
}
ul, ol{
    margin-top: 0; 
    margin-bottom: 0;
    padding-left: 0; 
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ====== загальні стилі ====== */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.section {
    padding: 120px 0;
    
}

/* ====== HEADER STYLES ====== */


.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    
    
}

.header-page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
    
    
   
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0; 
}

.header-logo .span-logo {
    color: #2e2f42;
} 

.header_burger {
    display: block;
    border: none;
    background-color: transparent;
}  

.mob-menu { 
        width: 100%;
        height: 100%;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: #fff;
        padding: 72px 16px 40px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mob-menu__exit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        background-color: #FDFDFF;
        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__exit-btn:focus,
.mob-menu__exit-btn:hover {
    background-color: #404BBF;
    border: none;
}

.mob-menu__exit-btn:focus .mob-menu__exit-icon,
.mob-menu__exit-btn:hover .mob-menu__exit-icon {
    fill: #fff;
}

.mob-menu__nav {
    margin-bottom: 168px;
}

.mob-menu__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-menu__link {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 16px;

}

.mob-menu__link:hover,
.mob-menu__link:focus {
    color: #404bbf;
}

.mob-menu__link.active {
    color: #404bbf;
}

.mob-menu__address {
    margin-bottom: 48px;
}

.mob-menu__contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-menu__contact-link {
    display: inline-block;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 18px;
}

.mob-menu__contact-link:hover,
.mob-menu__contact-link:focus {
    color: #404bbf;
}

.mob-menu__social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mob-menu__social-item {
    width: 40px;
    height: 40px;
}

.mob-menu__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__social-link:hover,
.mob-menu__social-link:focus {
    background-color: #404bbf;
}

.mob-menu__social-icon {
    fill: #f4f4fd;
}


.menu {
    display: none;
    }

.current::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
}


.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        
        
       
           
}
.current {
    color: #404bbf;
    
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}


.address {
    font-style: normal;
    }

        

.adress-list {
display: flex;
align-items: center;
gap: 40px;
}

.adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0 24px;
        display: block;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.adress-link:hover,
.adress-link:focus {
 color: #404bbf;
}

/* ====== HERO ====== */


.section-hero {
    padding: 188px 0 188px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), url(../images/people.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.hero-title {
        margin: 0 auto;
        /* автоматическое выравнивание по центру */
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 48px;
}

.main-button {

    min-width: 169px;
    height: 56px;
    display: block;
    margin-left: auto; /* автоматическое выравнивание кнопки по центру */
    margin-right: auto;/* автоматическое выравнивание кнопки по центру */
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}

/* ====== OUR BENEFITS ====== */

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.icon-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(142, 143, 153, 1);
        background-color: rgba(244, 244, 253, 1);
        border-radius: 4px 4px 4px 4px;
        margin-bottom: 8px;
        padding: 24px 100px;
        height: 112px;
} 

.benefits-titel {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        }

.benefits-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ====== OUR TEAM ====== */


.section-team {
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    gap: 24px;
}


.team-item {
background-color: #ffffff;
width: calc((100% - 72px) / 4);
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
}

.team-content {
    padding-bottom: 32px;
    padding-top: 32px;
}

.team-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
   
}

.social-links-item {
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
    
.active-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-item-link:hover {
    background-color: #404bbf;
}

.active-item-link:focus {
    background-color: #404bbf;
}

.icon {
    fill: #f4f4fd;
}
 
            


/* ====== OUR PORTFOLIO ====== */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.container-portfolio {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42; 
        margin-bottom: 8px;  
        
}
.portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.hidden-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
}

.portfolio-portfolio-hidden {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .hidden-text  {
    transform: translateY(0%);
}


/* ======== FOOTER ============= */

.footer {
    background: #2e2f42;
    padding: 100px 0;
}


.footer-container-logo-p {
margin-right: 120px;
}
   

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .span-logo {
color: #f4f4fd;
}

.footer-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

.social-list {
    display: flex;
    gap: 120 px;
} 

.footer-container {
    display: flex;
    align-items: baseline;

}

.social-links-footer {
    gap: 16px;
    display: flex;
}

.link-footer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-footer {
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover {
    background-color: #31d0aa;
}

.link-footer:focus {
    background-color: #31d0aa;
}
   

.social-media-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.modal-container-footer {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
}

.footer-form {
display: flex;
gap: 24px;
}

.email-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.email-input::placeholder {
color: #FFFFFF;
}
    


.btn-subscribe-submit {
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4D5AE5; 
border: none;
border-radius: 4px;
}

.icon-footer {
margin-left: 16px;
}



/* ======== BACKDROP STYLES ============= */

.modal-backdrop  {
    background-color: rgba(46, 47, 66, 0.4);;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc; ;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);;
    width: 408px;
    min-height: 584px;
    overflow-y: auto;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    z-index: 999;
    pointer-events: auto;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .icon, 
.modal-close-btn:focus .icon {
    fill: #ffffff;
}

.icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback {
font-weight: 500;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color:#2E2F42; 
margin-bottom: 16px;
}

.modal-form-container {
    margin-bottom: 8px;
}

.form-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.container-input {
    position: relative;
    margin-bottom: 8px;
}


.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5;   
    border: 1px solid rgba(46, 47, 66, 0.4);
}
 
.form-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
.form-input:focus + .container-input .modal-form-container,
.form-input:focus ~ .form-icon
 {
    fill: #4D5AE5;
}

.comment {
margin-bottom: 16px;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.textarea {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
border-color: #4D5AE5;
}

.container-input {
    margin-bottom: 8px;
}

.comment {
    margin-bottom: 16px;
}


.checkbox__form-container {
    margin-bottom: 24px;
}


.privacy-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;  
}

.callback__form-checkbox-icon {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
}

.form-input-checkbox:checked + .privacy-form-checkbox-label > .callback__form-checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill:  #F4F4FD;
}

.accept__form-privacy-link {
    color:#4d5ae5;
}

.btn-submit {
    display: block;
    margin: 0 auto;
    min-width: 169px; 
    height: 56px;
    font-weight: 500; 
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5; 
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border-radius: 4px;
}