/* ====== COMMON STYLES ====== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}


a{
    text-decoration: none;
}
ul, ol{
    margin-top: 0; 
    margin-bottom: 0;
    padding-left: 0; 
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (min-width: 320px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/mobile/hero-x2.jpg");
    }
}

@media (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/tablet/hero-x2.jpg");
    }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/desktop/hero-x2.jpg");
    }
}

/* ====== COMMON STYLES ====== */

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.section {
    padding: 120px 0;
    
}

/* ==== HEADER STYLES 320px ==== */

.page__header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px; 
}

.header__nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
    
.header__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0; 
}

.header__logo .span-logo {
    color: #2e2f42;
} 

/* ====== MOBILE BURGER MENU 320px ====== */

.header__burger {
    display: block;
    border: none;
    background-color: transparent;
}  

.mob-menu { 
        width: 100%;
        height: 100%;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: #fff;
        padding: 72px 16px 40px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    opacity: 0;
    visibility: hidden;
}

.mob-menu__exit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        background-color: #FDFDFF;
        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__exit-btn:focus,
.mob-menu__exit-btn:hover {
    background-color: #404BBF;
    border: none;
}

.mob-menu__exit-btn:focus .mob-menu__exit-icon,
.mob-menu__exit-btn:hover .mob-menu__exit-icon {
    fill: #fff;
}

.mob-menu__nav {
    margin-bottom: 168px;
}

.mob-menu__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-menu__link {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 16px;
}

.mob-menu__link:hover,
.mob-menu__link:focus {
    color: #404bbf;
}

.mob-menu__link.active {
    color: #404bbf;
}

.mob-menu__address {
    margin-bottom: 48px;
}

.mob-menu__contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-menu__contact-link {
    display: inline-block;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 18px;
}

.mob-menu__contact-link:hover,
.mob-menu__contact-link:focus {
    color: #404bbf;
}

.mob-menu__social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mob-menu__social-item {
    width: 40px;
    height: 40px;
}

.mob-menu__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__social-link:hover,
.mob-menu__social-link:focus {
    background-color: #404bbf;
}

.mob-menu__social-icon {
    fill: #f4f4fd;
}

.menu {
    display: none;
    }

.current::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
}

.menu__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);        
}

.current {
    color: #404bbf; 
}

.menu__link:hover,
.menu__link:focus {
    color: #404bbf;
}


.address {
    font-style: normal;
}

.adress__list {
display: flex;
align-items: center;
gap: 40px;
}

.adress__link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.adress__link:hover,
.adress__link:focus {
 color: #404bbf;
}

/* ====== HERO 320px ====== */


.section__hero {
    margin: 0 auto;
    padding: 72px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), url(../images/mobile/hero-x1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
}

.hero__title {
        margin: 0 auto;
        max-width: 216px;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 72px;

       
}

.main__button {

    min-width: 169px;
    height: 56px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main__button:hover,
.main__button:focus {
    background-color: #404bbf;
}

/* ====== OUR BENEFITS 320px ====== */

.section__benfits {
    padding: 96px 0;
}

.visually__hidden  {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;
}

.benefits__item {
    width: 100%;
}

.icon__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(142, 143, 153, 1);
        background-color: rgba(244, 244, 253, 1);
        border-radius: 4px 4px 4px 4px;
        margin-bottom: 8px;
        padding: 24px 100px;
        height: 112px;
        display: none;
} 

.benefits__titel {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
        }

.benefits__paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;      
}

/* ====== OUR TEAM 320px ====== */

.section__team {
    background-color: #F4F4FD;
    padding: 96px 0;  
}

.section__title {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        margin-bottom: 72px;
        text-align: center;
}

.team__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 72px 28px;
        width: calc(100% - 24px);
        margin: 0 auto;
}


.team__item {
background-color: #ffffff;
width: 264px;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);     
}

.team__content {
    padding-bottom: 32px;
    padding-top: 32px;
}

.team__title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team__paragraph {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-align: center;
        color: #434455;
}

.social__links {
    display: flex;
    justify-content: center;
    gap: 24px;
   
}

.social__links-item {
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
    
.active__item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active__item-link:hover {
    background-color: #404bbf;
}

.active__item-link:focus {
    background-color: #404bbf;
}

.icon {
    fill: #f4f4fd;
}
 
/* ====== OUR PORTFOLIO 320px ====== */


.section__portfolio {
    padding: 96px 0;
}

.section__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;  
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.portfolio__item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container__portfolio {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio__title {
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio__paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.hidden__text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
}

.portfolio__portfolio-hidden {
    position: relative;
    overflow: hidden;
}

.portfolio__item:hover .hidden__text  {
    transform: translateY(0%);
}

/* ======== FOOTER 320px============= */

.footer {
    background: #2e2f42;
    padding: 96px 0;
}

.footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer__logo .span__logo {
color: #f4f4fd;
}

.footer__paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
        margin-bottom: 72px;
        text-align: left;
}

.social__list {
    display: flex;
    gap: 120 px;
} 

.social__links-footer {
    gap: 16px;
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    align-items: center;
}

.link__footer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__footer {
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__footer:hover {
    background-color: #31d0aa;
}

.link__footer:focus {
    background-color: #31d0aa;
}
   
.social__media-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 16px;
}

.modal__container-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto 16px;
}

.footer__form {
display: flex;
gap: 24px;
flex-direction: column;
}

.email__input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.email__input::placeholder {
color: #FFFFFF;
}
    
.btn__subscribe-submit {
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4D5AE5; 
border: none;
border-radius: 4px;
margin: 0 auto;
}

.icon__footer {
margin-left: 16px;
}

/* ======== BACKDROP STYLES ============= */

.modal__backdrop  {
    background-color: rgba(46, 47, 66, 0.4);;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc; ;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);;
    width: 288px;
    min-height: 623px;
    overflow-y: auto;
    padding: 72px 16px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal__backdrop.is-open {
    opacity: 1;
    visibility: visible;
    z-index: 999;
    pointer-events: auto;
}

.modal__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal__close-btn:hover .icon, 
.modal__close-btn:focus .icon {
    fill: #ffffff;
}

.icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback {
font-weight: 500;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color:#2E2F42; 
margin-bottom: 16px;
}

.modal__form-container {
    margin-bottom: 8px;
}

.form__label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.container__input {
    position: relative;
    margin-bottom: 8px;
}

.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5;   
    border: 1px solid rgba(46, 47, 66, 0.4);
}
 
.form__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
.form__input:focus + .container__input .modal__form-container,
.form__input:focus ~ .form__icon
 {
    fill: #4D5AE5;
}

.comment {
margin-bottom: 16px;
}

.form__input:focus {
    border-color: #4D5AE5;
}

.textarea {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
border-color: #4D5AE5;
}

.container__input {
    margin-bottom: 8px;
}

.comment {
    margin-bottom: 16px;
}


.checkbox__form-container {
    margin-bottom: 24px;
}


.privacy__form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: #8e8f99;  
}

.callback__form-checkbox-icon {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        margin-right: 5px;
}

.form__input-checkbox:checked + .privacy__form-checkbox-label > .callback__form-checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill:  #F4F4FD;
}

.accept__form-privacy-link {
    color:#4d5ae5;
    padding-left: 23px;
    text-decoration: underline;
}

.btn__submit {
    display: block;
    margin: 0 auto;
    min-width: 169px; 
    height: 56px;
    font-weight: 500; 
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5; 
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border-radius: 4px;
}

.btn__submit:hover,
.btn__submit:focus {
    background-color: #404BBF;
}


/* ==== HEADER STYLES 768px ==== */

@media (min-width: 768px) {
    .container__header {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .header__nav {
        display: flex;
        align-items: center;
    }

    .header__logo {
        margin-right: 120px;
        padding: 16px 0;
    }

    .header__menu {
        display: flex;
        gap: 40px;
    }

    .header__menu-link {
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: inline-block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header__menu-link:hover,
    .header__menu-link:focus {
        color: #404bbf;
    }

    .header__menu-link.active {
        color: #404bbf;
    }

    .header__menu-link.active::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .header__contact-info {
        display: block;
        font-style: normal;
    }

    .header__contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header__contact-link {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        padding: 0;
        display: inline-block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header__contact-link:hover,
    .header__contact-link:focus {
        color: #404bbf;
    }

/* ====== MOBILE BURGER MENU 320px ====== */

    .header__burger {
        display: none;
    }

    .mob-menu {
        display: none;
    }
}